#cuenta-page-sebastian {
  display: flex;
  min-height: 100vh;
  background: url('../image/Fondo/3.png') no-repeat center center fixed; /* Cambia 'URL_DE_TU_IMAGEN' */
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  color: rgb(0, 0, 0);
}

#cuenta-sidebar-sebastian {
  width: 250px;
  background-color: #000;
  padding: 20px;
}

#cuenta-sidebar-list-sebastian {
  list-style: none;
  padding: 0;
}

#cuenta-sidebar-list-sebastian li {
  padding: 15px 0;
  font-size: 18px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

#cuenta-sidebar-list-sebastian li:hover,
#cuenta-sidebar-list-sebastian li.active {
  color: white;
}

#cuenta-main-content-sebastian {
  flex-grow: 1;
  padding: 40px;
}

#cuenta-profile-view-sebastian {
  margin-top: 20px;
}

.reservas-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reservas-table th, .reservas-table td {
  border: 1px solid #888;
  padding: 10px;
  text-align: left;
  color: white;
  background-color: #555; /* Fondo gris para cada celda */
}

.reservas-table th {
  background-color: #333;
}

.cuenta-error {
  color: red;
  text-align: center;
  margin-top: 20px;
}
